@import "../../../../style/varialebles.scss";

.profile {
  display: flex;
  gap: 0 80px;

  @media screen and (max-width: $max_device_width_mobile) {
    flex-direction: column;
  }
}

.profile__left {
  @media screen and (max-width: $max_device_width_mobile) {
    margin-bottom: 40px;
  }
}

.profile__avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;

  @media screen and (max-width: $max_device_width_mobile) {
    width: 100%;
  }
}

.profile__status {
  text-transform: capitalize;
}

.profile__social {
  margin-top: 40px;
}

.profile__launches-item {
  padding: 7px 20px;
}

.profile__launches-link {
  display: inline-block;
  
  &:hover > .profile__launches-name {
    text-decoration: underline;
  }
}

.profile__launches-date {
  margin-left: 5px;
  font-size: 12px;
  color: #828282;
}
