.about__summary {
  margin-bottom: 20px;
}

.about__text-block {
  padding: 40px 0;
}

.about__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}

.about__field {
  padding: 6px 0;
}

.field__title {
  margin-right: 12px;
}

.field__value {
  font-size: 18px;
  font-weight: 600;
}
