@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  outline-color: #84c2ff;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #3c3c3c;
  overflow-x: hidden;
}

.app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 1239px) {
  .container {
    max-width: 100%;
  }
}

.section {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
  .section {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.section__title {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
}

.section__subtitle {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .section__subtitle {
    margin-bottom: 0;
  }
}

.section__content {
  margin-top: 20px;
}

a {
  color: #0044ff;
}

.h3 {
  font-size: 20px;
  font-weight: 600;
}

::-moz-selection {
  color: #ffffff;
  background: #3c3c3c;
}

::selection {
  color: #ffffff;
  background: #3c3c3c;
}

.article {
  width: 100%;
}

.article__inner {
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding: 20px;
}

.article__title {
  display: inline-block;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
}

.article__subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  color: #828282;
}

.article__text {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.article__text > span {
  font-weight: 600;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}

@media screen and (max-width: 960px) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

.btn {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  display: block;
  margin: 40px auto 0 auto;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(60, 60, 60, 0.03);
  font-weight: 500;
  font-size: 14px;
  color: #3c3c3c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 576px) {
  .btn {
    margin-top: 20px;
  }
}

.btn:hover {
  background: #3c3c3c;
  color: #ffffff;
  -webkit-box-shadow: 0px 5px 20px -5px #f0f0f0;
          box-shadow: 0px 5px 20px -5px #f0f0f0;
  cursor: pointer;
}

.btn:disabled, .btn:disabled:hover {
  background: rgba(60, 60, 60, 0.03);
  color: #828282;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_blue_color {
  background: rgba(0, 68, 255, 0.1);
  color: #0044ff;
}

.btn_blue_color:hover {
  background: #0044ff;
}

.text-block {
  padding: 80px 0 0;
}

.text-block__title {
  margin-bottom: 20px;
}

.link__icon {
  line-height: 0;
}

.text-box {
  margin-bottom: 40px;
}

.youtube_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  border-radius: 50px;
  background-color: #f00;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.youtube_link svg {
  margin-right: 12px;
}

.wiki_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  border-radius: 50px;
  background-color: #000;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.wiki_link svg {
  margin-right: 12px;
}

.accordion {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
}

.accordion:hover {
  -webkit-box-shadow: 0px 5px 20px -5px #f0f0f0;
          box-shadow: 0px 5px 20px -5px #f0f0f0;
}

.accordion__box {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  overflow: hidden;
}

.accordion__box:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

.accordion__box.open .accordion__btn {
  background: #f0f0f0;
}

.accordion__box.open .accordion__btn::before {
  height: 0px;
}

.accordion__box.open .accordion__list {
  opacity: 1;
  visibility: visible;
}

.accordion__btn {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
  padding: 10px 20px;
  border: 0;
  width: 100%;
  background: #ffffff;
  color: #000;
  text-align: left;
  cursor: pointer;
}

.accordion__btn::after, .accordion__btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 20px;
  bottom: 0;
  height: 2px;
  width: 10px;
  background: #828282;
  margin: auto 0;
}

.accordion__btn::before {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  right: 24px;
  height: 10px;
  width: 2px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.accordion__btn:hover {
  background: #f0f0f0;
}

.accordion__btn span {
  color: #828282;
  font-size: 12px;
  pointer-events: none;
}

.accordion__list {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.accordion__items {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  padding: 5px 20px;
}

@media screen and (max-width: 960px) {
  .accordion__items {
    padding: 10px 20px;
  }
}

.accordion__item {
  padding: 7px 0;
}

.accordion__link {
  display: block;
}

.accordion__link:hover .accordion__link_name {
  text-decoration: underline;
}

.accordion__date {
  margin-left: 5px;
  font-size: 12px;
  color: #828282;
}

.hero {
  position: relative;
}

.hero__bg {
  position: relative;
  min-height: 100vh;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
  .hero__bg {
    background-attachment: unset;
  }
}

@media screen and (max-width: 576px) {
  .hero__bg {
    min-height: 600px;
  }
}

.hero__bg::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
}

.hero__bg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  background-image: url("../resources/images/pix.png");
  background-blend-mode: overlay;
  opacity: 0.7;
}

.hero__content {
  position: relative;
  padding: 80px 0;
  height: 100%;
  z-index: 2;
}

@media screen and (max-width: 576px) {
  .hero__content {
    padding: 40px 0;
  }
}

.hero__title {
  padding-bottom: 80px;
  max-width: 65%;
  font-size: 36px;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .hero__title {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .hero__title {
    max-width: 100%;
    font-size: 32px;
  }
}

.hero__text-block {
  padding: 10px 0 5px 35px;
  font-size: 14px;
}

.hero__text-block span {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: none;
}

@media screen and (max-width: 576px) {
  .hero__text-block {
    padding: 5px 0;
  }
}

.hero__statistics {
  padding: 80px 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .hero__statistics {
    padding: 40px 0 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.statistic_box {
  display: inline-block;
  padding: 20px 0;
  text-align: center;
}

.statistic_box .number {
  display: block;
  margin-bottom: 10px;
  font-size: 96px;
  line-height: 96px;
  font-weight: 300;
}

@media screen and (max-width: 576px) {
  .statistic_box .number {
    margin-bottom: 5px;
    font-size: 64px;
    line-height: 64px;
  }
}

.statistic_box .label {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .statistic_box .label {
    font-size: 12px;
    font-weight: 500;
  }
}

.hero__link {
  color: #fff;
  text-decoration: underline;
  font-weight: 400;
}

.hero__link path {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  fill: #fff;
}

.hero__link:hover {
  color: #3c3c3c;
  background-color: #fff;
}

.hero__link:hover path {
  fill: #3c3c3c;
}

.scroll_down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  text-align: center;
  -webkit-animation: flash 2s infinite;
          animation: flash 2s infinite;
}

@media screen and (max-width: 960px) {
  .scroll_down {
    bottom: 40px;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.rocket-block {
  border-radius: 12px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 280px;
  height: 420px;
}

.rocket-block:not(:last-child) {
  margin-right: 20px;
}

.rocket-block::after {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.rocket-block:hover {
  -webkit-box-shadow: 0px 5px 20px -5px #f0f0f0;
          box-shadow: 0px 5px 20px -5px #f0f0f0;
}

.rocket-block:hover::after {
  opacity: 0.8;
}

.rocket-block:hover .rocket-block__image {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.rocket-block__image {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.rocket-block__title {
  position: absolute;
  content: "";
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  z-index: 3;
}

.images-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.images-block__img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 960px) {
  .images-block__img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */