@import "./varialebles";
@import "./fonts";
@import "./reset";
@import "./mixins";
@import "./global";

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
  @media screen and (max-width: $max_device_width_tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: $max_device_width_mobile) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

.btn {
  @include transition;
  display: block;
  margin: 40px auto 0 auto;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  width: fit-content;
  background: rgba($dark, 0.03);
  font-weight: 500;
  font-size: 14px;
  color: $dark;
  user-select: none;
  @media screen and (max-width: $max_device_width_mobile) {
    margin-top: 20px;
  }
  &:hover {
    background: rgba($dark, 1);
    color: $white;
    box-shadow: 0px 5px 20px -5px $light;
    cursor: pointer;
  }
  &:disabled,
  &:disabled:hover {
    background: rgba($dark, 0.03);
    color: $gray;
    box-shadow: none;
  }
}
.btn_blue_color {
  background: rgba($blue, 0.1);
  color: $blue;
  &:hover {
    background: rgba($blue, 1);
  }
}

.breadcrumbs {
  padding: 40px 0;
  @media screen and (max-width: $max_device_width_mobile) {
    padding: 20px 0;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
  &__separator {
    margin: 0 10px;
    color: $gray;
    font-weight: 400;
    &::after {
      content: "/";
    }
  }
}

.forward {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}

.text-block {
  padding: 80px 0 0;
}

.text-block__title {
  margin-bottom: 20px;
}

.link__icon {
  line-height: 0;
}

.text-box {
  margin-bottom: 40px;
}

.youtube_link {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  border-radius: 50px;
  background-color: #f00;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  svg {
    margin-right: 12px;
  }
}

.wiki_link {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  border-radius: 50px;
  background-color: #000;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  svg {
    margin-right: 12px;
  }
}

.accordion {
  @include transition;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  &:hover {
    box-shadow: 0px 5px 20px -5px $light;
  }
}
.accordion__box {
  @include transition;
  overflow: hidden;
  &:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }
  &.open .accordion__btn {
    background: $light;
    &::before {
      height: 0px;
    }
  }
  &.open .accordion__list {
    opacity: 1;
    visibility: visible;
  }
}
.accordion__btn {
  @include transition;
  position: relative;
  padding: 10px 20px;
  border: 0;
  width: 100%;
  background: #ffffff;
  color: #000;
  text-align: left;
  cursor: pointer;
  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 20px;
    bottom: 0;
    height: 2px;
    width: 10px;
    background: $gray;
    margin: auto 0;
  }
  &::before {
    @include transition;
    right: 24px;
    height: 10px;
    width: 2px;
    transform: rotate(0);
  }
  &:hover {
    background: $light;
  }
  span {
    color: $gray;
    font-size: 12px;
    pointer-events: none;
  }
}
.accordion__list {
  @include transition;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}
.accordion__items {
  @include transition;
  padding: 5px 20px;
  @media screen and (max-width: $max_device_width_tablet) {
    padding: 10px 20px;
  }
}
.accordion__item {
  padding: 7px 0;
}
.accordion__link {
  display: block;
  &:hover {
    .accordion__link_name {
      text-decoration: underline;
    }
  }
}
.accordion__date {
  margin-left: 5px;
  font-size: 12px;
  color: $gray;
}

.external-link {
  &__icon {
    margin-left: 2px;
    vertical-align: top;
  }
}
