// Media breakpoints
$max_device_width_desktop: 1366px;
$max_device_width_laptop: 1024px;
$max_device_width_tablet: 960px;
$max_device_width_mobile: 576px;

// Colors
$black: #333333;
$dark: #3c3c3c;
$gray: #828282;
$light: #f0f0f0;
$white: #ffffff;
$blue: #0044ff;
