@import "../../../style/varialebles.scss";

.post {
}

.post__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 400;
}

.post__subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  color: $gray;
}

.post__text {
  margin-bottom: 40px;
}

.post_section__links {
  color: $gray;
}

.links__items {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}

.links__link {
  display: inline-flex;
  align-items: center;
  height: 36px;
  svg {
    margin-right: 5px;
  }
}

.patch {
  margin-top: 40px;
}

.patch__image {
  margin: 0 auto;
}
