@import "../../style/varialebles";
@import "../../style/mixins";

.search {
  position: relative;
  margin: 20px auto;
  max-width: 575px;
  width: 100%;

  @media screen and (max-width: $max_device_width_mobile) {
    margin: 20px auto;
  }
}

.search__input {
  @include transition;
  padding: 12px 52px 12px 48px;
  border: 0;
  border-radius: 12px;
  background: $light;
  width: 100%;
  color: $dark;
  overflow: hidden;

  &::placeholder {
    color: $dark;
  }

  &:focus {
    box-shadow: 0px 5px 20px -5px $light;
  }
}

.input__btn {
  @include transition;
  display: flex;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: 0;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  background: $light;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;

  svg path,
  svg rect {
    fill: $dark;
  }

  &:active {
    background: rgba($dark, 0.3);
  }

  &_search {
    left: 8px;
  }

  &_reset {
    right: 8px;
  }
}
