@import "../../style/varialebles.scss";
@import "../../style/mixins.scss";

.external__link,
.internal__link {
  @include transition;
  color: $dark;
  font-weight: 600;
  path {
    fill: $blue;
  }
}

.external__link:hover,
.internal__link:hover {
  color: $blue;
}

.external__icon {
  display: inline-block;
  margin-left: 2px;
  vertical-align: top;
  -webkit-user-select: none;
  user-select: none;
}

.internal__icon {
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 3px;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
}
