@import "../../style/varialebles.scss";

@media screen and (max-width: $max_device_width_mobile) {
  .crew {
    flex-direction: row;

    .card__image {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      margin: 15px;

      .card__img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        transform: scale(1);
      }
    }

    .card__content {
      justify-content: center;
    }
  }
}
