@import "../../style/varialebles.scss";
@import "../../style/mixins.scss";

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
  @media screen and (max-width: $max_device_width_tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: $max_device_width_mobile) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

.card {
  display: flex;
  position: relative;
}

.card__link {
  @include transition;
  display: block;
  padding: 20px;
  border: 1px solid $light;
  border-radius: 12px;
  width: 100%;
  background: $white;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 5px 20px -5px $light;
  }
  &:hover .card__title {
    color: $blue;
  }
  @media screen and (max-width: $max_device_width_mobile) {
    padding: 15px;
  }
}

.card__patch {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.card__meta {
  margin-bottom: 10px;
  font-size: 14px;
  color: $gray;
  @media screen and (max-width: $max_device_width_mobile) {
    margin-bottom: 5px;
  }
}

.card__title {
  @include transition;
  font-weight: 600;
  font-size: 16px;
  color: $black;
}

.card__title-icon {
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 3px;
  vertical-align: middle;
  user-select: none;
}

.card__desc {
  font-size: 14px;
  line-height: 180%;
}
